@import '../../styles/colors';
.promo {
    background: var(--background-color-gradient);
    &-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    &-text {
        text-align: center;
        width: 500px;
    }
    &-title {
        font-weight: 600;
        line-height: 100%;
        font-size: 90px;
        text-align: right;
        background: $main-text-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &-descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 25px;
        line-height: 187%;
        text-align: right;
        color: var(--text-color-secondary);
    }
    &-logo {
        display: block;
    }
}