.promo {
    background: url('../../assets/bg/mainBG.svg') center (center/cover) no-repeat;
    &-wrapper {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    &-text {
        text-align: center;
        width: 500px;
    }
    &-title {
        font-weight: 600;
        line-height: 100%;
        font-size: 90px;
        text-align: right;
        background: linear-gradient(92deg, #a500ce 0%, #6b23df 49.26%, #dc005c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &-descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 25px;
        line-height: 187%;
        text-align: right;
        color: #d9d9d9;
    }
    &-logo {
        display: block;
    }
}