$purple: #a500ce;
$pink: #dc005c;
$main-text-gradient: linear-gradient(92deg, $purple 0%, #6b23df 49.26%, $pink 100%);

$dark: #030304;
$light:#FBF5F5;

$dark-background-gradient: linear-gradient(225deg, #121212 0%, rgba(95, 9, 117, 0.47) 52.55%, rgba(165, 0, 206, 0) 100%);
$light-background-gradient: linear-gradient(225deg, rgba(115, 31, 221, 0.5) 0%, rgba(224, 203, 235, 0.33) 42.65%, rgba(165, 0, 206, 0.3) 100%);

$dark-text: #24242A;
$light-text: #d9d9d9;
$gray-light-text: #a7b2c3;
$gray-text: #898989;
$dark-gray-card: #202025;
$dark-gray-card-border: #474747;
$purple-accent:rgba(115, 31, 221, 0.7);

$black: #000000;
$white: #ffffff;