.last-update {
    padding-top: 64px;
    &-container {
        max-width: 1224px;
        margin: 0 auto;
    }
    &-text {
        font-weight: 300;
        font-size: 32px;
        line-height: 125%;
        color: var(--text-color-secondary);
    }
    &-block {
        display: flex;
        gap: 26px;
        justify-content: center;
    }
}