.currency-card {
    display: flex;
    border: 1px solid #474747;
    border-radius: 8px;
    padding: 30px 30px 30px 30px;
    width: 520px;
    height: 153px;
    gap: 10px;
    text-align: left;
    margin-top: 56px;
    background: #202025;
    cursor: pointer;
    &-name {
        font-weight: 400;
        font-size: 32px;
        line-height: 141%;
        color: #d9d9d9;

    }
    &-value {
        font-weight: 300;
        font-size: 32px;
        line-height: 129%;
        color: #a7b2c3;
    }
}