@import '../../styles/colors';
.currency-card {
    display: flex;
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    padding: 30px 30px 30px 30px;
    width: 520px;
    height: 153px;
    gap: 10px;
    text-align: left;
    margin-top: 56px;
    background: var(--card-color);
    cursor: pointer;
    &-name {
        font-weight: 400;
        font-size: 32px;
        line-height: 141%;
        color: var(--card-text-title);

    }
    &-value {
        font-weight: 300;
        font-size: 28px;
        line-height: 129%;
        color: var(--card-text-value);
    }
    &:hover{
        box-shadow: 4px 6px 20px 0 $purple;
    }
}